@font-face{
    font-family: "theSans";
    src: url("Polices/thesans/TheSans-B4SemiLight.otf") format("otf"),
        url("Polices/thesans/TheSansPlain.ttf") format("ttf");
}

#Services h3{
    text-align: center;
    margin: 40px;
    font-size: 1.8em;
}

#image1 {
    background: url('Images/industrylab.png'); background-size: contain;
    background-repeat: no-repeat; background-position: center;
}
#image2 {
    background: url('Images/fabLab.jpg'); background-size: contain;
    background-repeat: no-repeat; background-position: center;
}
#image3 {
    background: url('Images/fabLab2.jpg'); background-size: contain;
    background-repeat: no-repeat; background-position: center;
}
#image4 {
    background: url('Images/industrylab.png'); background-size: contain;
    background-repeat: no-repeat; background-position: center;
}


#text{
    margin: 150px 75px;
    font-size: 1.2em;
}


#text2{
    display: flex;
    flex-direction: column;
}


#title{
    font-size: 1.8em;
    width: 8%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#barre{
    background: #e3342f;
    height: 2px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 30px;
}

#titi{
    font-size: 1.8em;
    width: 8%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#barre2{
    background: #e3342f;
    height: 2px;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 30px;
}

#float{
    display: flex;
    justify-content: space-around;
    text-align: justify;   
}


#text2{
    text-align: center;
}

#slider1 {
    position: relative;
    width: 50%;
    height: 500px;
    margin: 0 25px;
    overflow: hidden;
    background: #ffffff;
}

#fablab{
    display: flex;
    width: 100%;
    margin: 0;
}

@media screen and (max-width:720px){
    .servicesAnnexes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        background: #ffffff;
        margin-bottom: 35px;
        margin-top: 20px;
    }
    
    #titi{
        text-align: center;
        color: #ffffff;
        font-size: 1.8em;
    }
    
    .IMG{
        text-align: center;
    }
    .IMG img{
        opacity: 0.5;
    }
    
    .IMG:hover img{
        opacity: 1;
    }
    
    .IMG:hover{
        opacity:1;
    }
    
    .IMG h3{
        color: black;
        transition-duration: 0.5s;
        transform: translateY(150px);
        opacity:1;
    }
    
    .IMG:hover h3 {
        color: #ffffff;
        transform: translateY(0);
    }
}


.slides {
    position: absolute;
    display: flex;
    left: 0;
    width: calc(100% * 4);
    height: 100%;
    animation: slide 20s infinite;

}

.image {
    width: calc(100% / 4);
    height: auto;
}

@keyframes slide {
    10% {
        left: 0;
    }
    15% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    33% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    55% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
}

/*SERVICE ANNEXES*/

.servicesAnnexes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    background: #ffffff;
    margin-bottom: 35px;
    margin-top: 20px;
}


.IMG{
    text-align: center;
}
.IMG img{
    opacity: 0.5;
}

.IMG:hover img{
    opacity: 1;
}

.IMG:hover{
    opacity:1;
}

.IMG h3{
    color: black;
    transition-duration: 0.5s;
    transform: translateY(150px);
    opacity:1;
}

.IMG:hover h3 {
    color: #ffffff;
    transform: translateY(0);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.navigator{
    margin: 0;
    padding: 0;
}
.navigator ul{
    background-color: #e3342f;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    width:100%;
    z-index:10000;

}

.navigator li{
    list-style: none;
    text-align: center; 
    padding: 20px 50px;
    margin: 0px 0%;
}

.navigator a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.hover-effect:hover{
    background-color: white;
}
.hover-effect:hover{
    color: #e3342f; 
}
.navigator img{
    height: 50px;
    float:right;
    margin: 0;
    padding: 0;
}
.navigator li{
    font-variant: small-caps;
}

@media screen and (max-width:720px){
    .navigator{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        -ms-align-items: center;
        align-items: center;
        min-height: 8vh;
        font-family: 'Poppins', sans-serif;
        background-color:#e3342f;
    }

    .navigator li{
        margin: 10px 0;
        padding: 10px;
        font-size: 13px;
    }

    .navigator img{
        width: 30px;
        height: 30px; 
    }
    
    .slides{
        display: none;
    }

    .servicesAnnexes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        background: #ffffff;
        margin-bottom: 35px;
        margin-top: 20px;
        padding: O;
    }
    
    #titi{
        text-align: center;
        color: #ffffff;
        font-size: 1.8em;
    }
    
    .IMG{
        text-align: center;
    }
    .IMG img{
        opacity: 0.5;
        width: 300px;
        margin: 0;
        padding: 0;
    }
    
    .IMG:hover img{
        opacity: 1;
    }
    
    .IMG:hover{
        opacity:1;
    }
    
    .IMG h3{
        color: black;
        transition-duration: 0.5s;
        transform: translateY(150px);
        opacity:1;
    }
    
    .IMG:hover h3 {
        color: #ffffff;
        transform: translateY(0);
    }

}

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section:target{
    padding-top: 9em; 
    margin-top: -9em;
}

#LeLabo{
    background-image: url(Images/Labo2.jpg);
    margin: 40px 0 0 0;
    padding: 0;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.descriLabo{
    background-color: #e3342f;
    min-height: 100px;
    color: White;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}
.descriLabo p{
    margin: 0;
    padding:50px;
    line-height: 50px;
}

.descriLabo p::first-line{
    font-size: 1.5em;
}

.services img{
    width: 48px;
    height: 48px;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    width: 100%;
    margin: 0 15px;
}

.container .card .face{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    transform: translateY(75px);
    /*border: 2px solid #e3342f;*/
}
.container .card:hover .face.face1{
    transform: translateY(0px);
    background-color: white;
    border: none;
}

.container .card .face.face1 .content{
    transition: 0.5s;
    color: #e3342f;
    text-align: center;
    font-size: 0.8em;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card:hover .face.face1 .content img{
    width: 50px;
    height: 50px;
}
.container .card:hover .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #111;
    text-align: center;
    font-size: 1em;
}

 .container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
    margin: 0;
    padding: 0;
    width:100%;
    font-size: 14px;
    color:white;
 }

 .container .card:hover .face.face2{
    transform: translateY(-50px);
    color: #111;
 }

 .container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
 }
.content h4{
    margin: 0;
    padding: 0;
}

.phrase{
    margin: 0 15%;
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
}
.titre{
    color: red;
    font-style: italic;
    font-size: 1.5em;
}
.phrase p{
    padding: 10px;
    margin: 0px 10px 10px 0;
}
*{
    margin: 0;
    padding: 0;
}

#slider2 img{
    width: 100%;
    height: auto;
}

/* ************************************************************ */

 @media screen and (max-width: 720px) {
    .services{
       display: flex;
       align-items: space-evenly;
       position: relative;
       width:100%;
       margin: 0;
       padding: 0;
       flex-flow: wrap;
       flex-direction: column;
    }

    .container{
        margin: 0;
        padding: 0;
    }
    .container .card{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

     .container .card .face.face1 .content img{
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }

     .container .card:hover .face.face1 .content img{
        width: 40px;
        height: 40px;
    }
    
    .container .card .face.face1{
        background-color: #EEE;
        transform: translateY(0);
        margin: 0;
        padding: 0;
    }
    .container .card .face.face2{
        transform: translateY(0);
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .container .card .face.face1 h3{
        color: #666;
    }

    .container .card .face.face2 {
        color:#111;
        width: 100%;
    }
    .content{
        margin:2px;
        padding:2px;
    }
    .content h4{
        margin: 2px;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
    }

    #LeLabo{
        background-image: url(Images/Labo2.jpg);
        margin: 30 0 0 0;
        padding: 0;
        min-height: 100px;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .descriLabo{
        margin: 0;
        padding: 0;
        font-size:12px;
    }
    .descriLabo p{
        padding: 25px 7px;
    }
    .logoEntreprises img{
        display:none;
    }
    .phrase p::first-letter{
        line-height: 1rem;
    }
}

.labo-footer{
    margin: 0px;
    padding: 0px;
	background-color: #e3342f;
	width:100%;
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 15px;
	align-items: stretch;
}
.tel{
	display : inline;
	align-content: space-around;
	font-size: 14px;
}

.footer-center{
    padding: 5px;
    line-height: 30px;
}

.footer-center img{
    width: 70px;
    height: 70px;
    padding: 20px;
}

.tel a{
    text-decoration: none; 
    color: white;
}

a {
	text-decoration: none;
}

.footer-center img{
    margin: 10px;
    padding: 0;
}

.footer-icons img{
	display: inline-block;
    padding: 0px;
    margin: 0;
	width: 30px;
	height: 30px;
    align-content: space-around;
}

.footer-author{
	position: center;
    font-size: 13px;
    margin: 0 0 10px 0;
}

h3{
    font-variant: small-caps;
}


@media screen and (max-width: 720px) {

    .navigator ul{
        position: fixed;
    }
    .navigator img{
        width: 36px;
        height: 36px;
    }

    #LeLabo{
        display: none;
    }
    .descriLabo{
        margin: 15px;
        background-color: white;
        color: black;
        font-size: 1em;
        text-align: center;
    }
    .descriLabo p {
        line-height: 1.2em;
    }

    .descriLabo p::first-line{
        color:#e3342f;
        font-size: 20px;
        padding: 10px;
    }
    .phrase{
        padding: 15px;
        border: 1px solid #e3342f;
        font-size: 15px;
    }

    .container .card .face.face2{
        padding: 10px;
        text-align: center;
    }
    .container .card .face{
        margin: 0;
        padding: 0;
        height: 200px;
        width: 100%;
    }

    .container .card .face.face1{
        margin: 0;
        padding: 0;
        height: 75px;
    }
    .container .card .face.face2{
        margin: 20px 0;
        padding: 0;
        height: auto;
        font-size: 15px
    }
    .container .card .face.face1 .content img{
        display: none;
    }

    h3{
        font-size: 1.2em;
    }

    .navigator li{
        font-size: 15px;
        font-variant: small-caps;
    }
    #fablab{
        margin: 0;
        padding: 0;
    }
    #slider1{
        display: none;
        margin: 0;
        padding: 0;
    }
    #float{
        margin: 0;
        padding: 10px;
    }
    #text{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
}
